<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\ShipmentRepository" type="Emipro\Apichange\Model\Order\ShipmentRepository" />
    <preference for="Magento\Sales\Model\Order\InvoiceRepository" type="Emipro\Apichange\Model\Order\InvoiceRepository" />
    <preference for="Emipro\Apichange\Api\AttributeInterface" type="Emipro\Apichange\Model\Attribute" />
    <preference for="Emipro\Apichange\Api\PaymentInterface" type="Emipro\Apichange\Model\Payments" />
    <preference for="Emipro\Apichange\Api\ShippingInterface" type="Emipro\Apichange\Model\Shippings" />
    <preference for="Emipro\Apichange\Api\StoreviewInterface" type="Emipro\Apichange\Model\Storeview" />
    <preference for="Emipro\Apichange\Api\StockInterface" type="Emipro\Apichange\Model\Stock" />
	<preference for="Emipro\Apichange\Api\Data\UpdateStockInterface"
        type="Emipro\Apichange\Model\UpdateStock" />
    <type name="Magento\Catalog\Model\ProductRepository">
		<plugin name="Emipro_Apichange::addWebsiteids" type="Emipro\Apichange\Plugin\Product\ProductRepository" />
	</type>
</config>
